
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dddcdc;
    box-sizing: border-box;
}


header {
    background-color: rgb(156, 2, 2);
    color: white;
    padding: 15px 0;
    text-align: center;
    width: 99%
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: rgb(156, 2, 2);
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}


table {
    width: 90%;
    max-width: 1000px; 
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #555;
    color: white;
}


button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}


@media (max-width: 600px) {
    
    table {
        overflow-x: auto; 
        width: 100%; 
        margin: 10px 0;
    }

    th, td {
        font-size: 14px;
    }

    header h1 {
        font-size: 24px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    nav ul li a {
        font-size: 16px; 
    }

    footer {
        position: static; 
        padding: 10px;
    }
}
