body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dddcdc;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
}

header {
    background-color: rgb(156, 2, 2);
    color: white;
    padding: 15px;
    text-align: center;
    width: 99%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}
footer {
    background-color: rgb(156, 2, 2);
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto; 
    position: relative; 
}

.orders-table-container, .delivery-table-container {
    margin-top: 20px;
    overflow-x: auto; 
}

.orders-table, .delivery-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.orders-table th, .delivery-table th,
.orders-table td, .delivery-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.orders-table th, .delivery-table th {
    background-color: #555;
    color: white;
}

.orders-table td, .delivery-table td {
    text-align: center;
}

.orders-table tr:nth-child(even), .delivery-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.orders-table tr:hover, .delivery-table tr:hover {
    background-color: #ddd;
}

.orders-table select, .delivery-table select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.orders-table select:focus, .delivery-table select:focus {
    outline: none;
    border-color: #555;
}